/* overall style */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
* {
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* first section style start */

h1 {
    font-size: 40px;
}

.first {
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
    background-size: fixed;
    font-family: 'Lato', sans-serif;
    background-position: cover;
}

.yellow {
    color: orange;
    font-weight: 700;
}

.button a {
    background-color: orange;
    height: 40px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.button {
    transition: border-radius 4s ease linear;
}

a:hover {
    border-radius: 15px;
}

a {
    color: black;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-right img {
    width: 95%;
}

.first-left {
    padding-left: 20px;
}

/* first section style done */

/* dream section start */

.dream {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

.dream img {
    width: 90%;
}

.right-dream {
    padding-left: 20px;
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

/* experience section */

.flex-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.exp {
    padding-left: 20px;
    box-shadow: 5px 5px 10px black;
    border-radius: 15px;
    margin: 10px;
    border-right: 5px solid orangered;
}

#ex {
    padding-left: 20px;
}

#exx {
    padding-left: 20px;
    background-image: url("img/exp-bg.png");
    background-repeat: no-repeat;
    background-position: 20px 30px;
}

/* ``````````` using media query ```````````````` */

@media screen and (max-width:1024px){
    .first ,.flex-div {
        flex-direction: column;
    }
    .dream{
        flex-direction: column-reverse;
    }
    .first-right img{
        width: 70%; margin: 0 auto;
    }
    .left-dream img{
        width: 60%;
    } 
    .mar{
        margin: 20px 0;
    }

}